{
  "presets": [ 
    ["latest", {"modules": false}], 
     "react" 
  ],

  "plugins": ["transform-object-rest-spread"],

  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
 

}
